@page
@using ite4160.Models
@model CallsModel

<h3>@Model.Number#: All Calls</h3>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NumberCalls[0].Timestamp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberCalls[0].Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberCalls[0].Receiver)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberCalls[0].Type)
            </th>
        </tr>
    </thead>
    <tbody>

@foreach (var call in Model.NumberCalls) {
        var duration = String.Format("{0,2}", call.Duration.Days * 24 * 60 +
                                            call.Duration.Hours * 60 +
                                            call.Duration.Minutes);
        <tr>
            <td>
                @Html.DisplayFor(modelItem => call.Timestamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => duration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => call.Receiver)
            </td>
            <td>
                @Html.DisplayFor(modelItem => call.Type)
            </td>
        </tr>
}
    </tbody>
</table>